* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: none;
          box-sizing: none;
}

img {
  width: 100%;
}

.carousel-indicators, header .box-content .row .box1 #boarding .carousel-indicators, section .something .box-content #something .carousel-indicators {
  margin-left: 0;
  left: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.carousel-indicators li, header .box-content .row .box1 #boarding .carousel-indicators li, section .something .box-content #something .carousel-indicators li {
  background: black;
  border-top: none;
  border-bottom: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 1;
}

.carousel-indicators .active, header .box-content .row .box1 #boarding .carousel-indicators .active, section .something .box-content #something .carousel-indicators .active {
  background: #F36B44;
}

header {
  background-image: url("./img/background_01.jpg");
  background-size: cover;
}

header .navbar {
  height: 80px;
  z-index: 1;
}

header .navbar .navbar-brand {
  width: 160px;
  margin-left: 20px;
}

header .navbar .navbar-collapse .navbar-nav .nav-item {
  margin: 0 25px;
}

header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  font-weight: 500;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #ff3a00;
}

header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #ff3a00;
  bottom: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
}

header .navbar .navbar-collapse .navbar-nav .nav-item:nth-child(6) .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .navbar-collapse .navbar-nav .nav-item:nth-child(6) .nav-link i {
  margin-right: 10px;
}

header .navbar .navbar-collapse .navbar-nav .nav-item:nth-child(6) .nav-link::after {
  content: none;
  width: 0;
  height: 0;
}

header .navbar .navbar-collapse .navbar-nav .nav-item:nth-child(6)::after {
  position: absolute;
  content: '';
  width: 110%;
  height: 65%;
  border-radius: 0 50px 50px;
  z-index: -1;
  border: 2px solid #ff3a00;
}

header .box-content .row .box1 {
  padding-left: 40px;
  padding-top: 45px;
}

header .box-content .row .box1 > h1 {
  font-family: 'Concert One', cursive;
  font-size: 70px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .box-content .row .box1 > h1 span {
  color: #ff3a00;
  margin-right: 20px;
  margin-bottom: 20px;
}

header .box-content .row .box1 #boarding {
  margin: 30px 0;
  padding-bottom: 40px;
}

header .box-content .row .box1 #boarding .carousel-inner .carousel-item .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .box-content .row .box1 #boarding .carousel-inner .carousel-item .box .icon {
  width: 90px;
  position: relative;
  padding-right: 12px;
  margin-right: 20px;
}

header .box-content .row .box1 #boarding .carousel-inner .carousel-item .box .icon::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 100%;
  background: black;
  top: 0;
  right: 0;
}

header .box-content .row .box1 #boarding .carousel-inner .carousel-item .box .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

header .box-content .row .box1 #boarding .carousel-inner .carousel-item .box .content h2 {
  font-size: 25px;
}

header .box-content .row .box1 #boarding .carousel-inner .carousel-item .box .content p {
  width: 300px;
}

header .box-content .row .box1 .book {
  width: 200px;
}

header .box-content .row .box1 .book img {
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

header .box-content .row .box1 .book:hover img {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

header .box-content .row .box2 img {
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
}

section {
  padding: 30px 0;
}

section .keep-happy {
  padding-bottom: 60px;
}

section .keep-happy .row .box-img {
  position: relative;
}

section .keep-happy .row .box-img .food {
  position: absolute;
  right: 0;
  top: 50px;
}

section .keep-happy .row .box-img .candy {
  position: absolute;
  top: 290px;
  right: 140px;
}

section .keep-happy .row .box-img .ball {
  position: absolute;
  top: 120px;
  left: 200px;
}

section .keep-happy .row .box-img .bg {
  width: 100%;
}

section .keep-happy .row .box-content {
  padding: 70px 20px;
}

section .keep-happy .row .box-content h1 {
  font-family: 'Concert One', cursive;
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
}

section .keep-happy .row .box-content h1 span {
  color: #ff3a00;
}

section .keep-happy .row .box-content p {
  font-size: 18px;
  margin: 20px 0;
  line-height: 2;
}

section .keep-happy .row .box-content a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid #ff3a00;
  font-size: 14px;
  border-radius: 0 50px 50px;
  padding: 10px 20px;
  color: white;
  background: #ff3a006b;
  -webkit-transition: .3s;
  transition: .3s;
}

section .keep-happy .row .box-content a:hover {
  background: #ff3a00;
}

section .box-page {
  padding: 50px 0;
}

section .box-page .row .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .box-page .row .box .contain {
  width: 300px;
  height: 300px;
  padding: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .box-page .row .box .contain .polymorph1 {
  fill: #8FC975;
  -webkit-transition: .3s;
  transition: .3s;
}

section .box-page .row .box .contain .polymorph2 {
  fill: #FBB745;
  -webkit-transition: .3s;
  transition: .3s;
}

section .box-page .row .box .contain .polymorph3 {
  fill: #F36B44;
  -webkit-transition: .3s;
  transition: .3s;
}

section .box-page .row .box .contain .img-title {
  position: absolute;
  width: 85px;
  top: 50px;
  right: 60px;
  padding: 12px;
  border-radius: 50%;
  background: white;
  -webkit-box-shadow: 0px 0px 5px 1px #d6d6d6;
          box-shadow: 0px 0px 5px 1px #d6d6d6;
}

section .box-page .row .box .contain .box-link {
  width: 50%;
  position: absolute;
}

section .box-page .row .box .contain .box-link .title {
  color: white;
  font-family: 'Concert One', cursive;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  margin: 0;
}

section .box-page .row .box .contain .box-link .nav-link {
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

section .box-page .row .box .contain .box-link .nav-link:hover {
  color: black;
}

section .activity .box1.row {
  padding-left: 30px;
  padding-right: 0;
}

section .activity .box1.row .box-content {
  padding-top: 100px;
}

section .activity .box1.row .box-content h1 {
  font-family: 'Concert One', cursive;
  font-weight: 600;
  font-size: 55px;
}

section .activity .box1.row .box-content h1 span {
  color: #F36B44;
}

section .activity .box1.row .box-content > p {
  margin: 25px 0;
  font-size: 19px;
}

section .activity .box1.row .box-content .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section .activity .box1.row .box-content .navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
}

section .activity .box1.row .box-content .navbar-nav .nav-item p {
  margin: 0;
  width: 45px;
  margin-right: 5px;
}

section .activity .box1.row .box-content .navbar-nav .nav-item span {
  font-size: 15px;
  font-weight: 600;
}

section .activity .box1.row .box-content .box-link {
  margin: 30px 0;
}

section .activity .box1.row .box-content .box-link .nav-link {
  font-size: 14px;
  border: 2px solid #F36B44;
  border-radius: 0 50px 50px;
  margin-right: 20px;
  padding: 10px 20px;
  font-weight: 600;
  -webkit-transition: .3s;
  transition: .3s;
}

section .activity .box1.row .box-content .box-link .nav-link.view {
  color: white;
  background-color: #F36B44;
}

section .activity .box1.row .box-content .box-link .nav-link.view:hover {
  background-color: white;
  color: black;
}

section .activity .box1.row .box-content .box-link .nav-link.book {
  color: black;
}

section .activity .box1.row .box-content .box-link .nav-link.book:hover {
  color: white;
  background-color: #F36B44;
}

section .activity .box2.row {
  margin-top: 50px;
}

section .activity .box2.row .box-content {
  margin-bottom: 30px;
}

section .activity .box2.row .box-content .box {
  padding: 40px;
  background: #f3f3f3;
  border-radius: 30px;
}

section .activity .box2.row .box-content .box .icon {
  margin: 0;
  width: 65px;
  padding-bottom: 50px;
}

section .activity .box2.row .box-content .box h1 {
  font-family: 'Concert One', cursive;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 25px;
}

section .activity .box2.row .box-content .box .nav-link {
  padding: 0;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 600;
  color: #F36B44;
  -webkit-transition: .3s;
  transition: .3s;
}

section .activity .box2.row .box-content .box .nav-link:hover {
  color: black;
}

section .something .box-img {
  position: relative;
}

section .something .box-img p {
  position: absolute;
  right: 0;
  top: 0;
}

section .something .box-content #something {
  padding: 60px 20px;
}

section .something header .box-content #something .row .box1 #boarding .carousel-indicators, header section .something .box-content #something .row .box1 #boarding .carousel-indicators, section .something header .box-content .row .box1 #boarding #something .carousel-indicators, header section .something .box-content .row .box1 #boarding #something .carousel-indicators, section .something .box-content #something .carousel-indicators {
  margin-left: 20px;
}

section .something .box-content #something .carousel-inner .carousel-item {
  font-family: 'Concert One', cursive;
}

section .something .box-content #something .carousel-inner .carousel-item .icon {
  font-size: 60px;
  color: #F36B44;
}

section .something .box-content #something .carousel-inner .carousel-item .content {
  font-size: 24px;
  font-weight: 700;
}

section .something .box-content #something .carousel-inner .carousel-item .author {
  color: #F36B44;
  font-weight: 600;
  margin: 25px 0 10px 0;
}

section .something .box-content #something .carousel-inner .carousel-item span {
  font-weight: 600;
}
/*# sourceMappingURL=header.css.map */