* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}
img {
    width: 100%;
}
//@extend
.carousel-indicators {
    margin-left: 0;
    left: 0;
    width: fit-content;
    li {
        background: black;
        border-top: none;
        border-bottom: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        opacity: 1;
    }
    .active {
        background: #F36B44;
    }
}
header {
    background-image: url('./img/background_01.jpg');
    background-size: cover;
    .navbar {
        height: 80px;
        z-index: 1;
        position: relative;
        .navbar-brand {
            width: 160px;
            margin-left: 20px;
        }
        .box-menu {
            display: none;
            cursor: pointer;
            height: inherit;
            justify-content: center;
            align-items: center;
            span {
                width: 25px;
                height: 2px;
                background: black;
                position: relative;
                transition: .3s;
                &::before {
                    position: absolute;
                    content: '';
                    width: 25px;
                    height: 2px;
                    background: black;
                    top: -8px;
                    transition: .3s;
                }
                &::after {
                    position: absolute;
                    content: '';
                    width: 25px;
                    height: 2px;
                    background: black;
                    top: 8px;
                    transition: .3s;
                }
            }
            &:hover {
                span {
                    background: #ff3a00;
                    &::before {
                        background: #ff3a00;
                        top: -11px;
                    }
                    &::after {
                        background: #ff3a00;
                        top: 11px;
                    }
                }
            }
            &.active {
                span {
                    width: 0;
                    &::before {
                        transform: translate(0px, 8px) rotate(45deg);
                    }
                    &::after {
                        transform: rotate(-45deg) translate(5px, -6px);
                    }
                }
                &:hover {
                    span {
                        background: #ff3a00;
                        &::before {
                            background: #ff3a00;
                            top: -8px;
                        }
                        &::after {
                            background: #ff3a00;
                            top: 8px;
                        }
                    }
                }
            }
        }
        .navbar-collapse {
            &>.navbar-nav {
                margin-left: auto;
                margin-top: 10px;
                &>.nav-item {
                    margin: 0 25px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    &>.nav-link {
                        display: flex;
                        color: black;
                        font-weight: 500;
                        transition: .3s;
                        position: relative;
                        justify-content: center;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        &:hover {
                            color: #ff3a00;
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            width: 0;
                            height: 3px;
                            background-color: #ff3a00;
                            bottom: 0;
                            transition: .3s;
                        }
                        &:hover::after {
                            width: 100%;
                        }
                        &.active {
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                    &:nth-child(6) {
                        z-index: 1;
                        .nav-link {
                            display: flex;
                            align-items: center;
                            i {
                                margin-right: 10px;
                            }
                            &::after {
                                content: none;
                                width: 0;
                                height: 0;
                            }
                        }
                        &::after {
                            position: absolute;
                            content: '';
                            width: 110%;
                            height: 65%;
                            border-radius: 0 50px 50px;
                            z-index: -1;
                            border: 2px solid #ff3a00;
                        }
                    }
                    .home_list, .menu_list, .elements_list {
                        opacity: 0;
                        pointer-events: none;
                        position: absolute;
                        top: 100%;
                        background: white;
                        box-shadow: 2px 2px 6px 2px #4c4c4c1a;
                        width: 700px;
                        transition: .3s;
                        .nav-item {
                            display: flex;
                            justify-content: flex-start;
                            flex-direction: column;
                            width: 100%;
                            margin: 0 20px;
                            &>.nav-link {
                                padding-left: 0;
                                color: black;
                                font-weight: 500;
                                font-size: 15px;
                                border-bottom: 3px solid #ff3a00;
                                transition: .3s;
                                &:hover {
                                    color: #ff3a00;
                                }
                                &.active {
                                    color: #ff3a00;
                                }
                            }
                            .navbar-nav {
                                .nav-item {
                                    margin: 0;
                                    .nav-link {
                                        padding-left: 0;
                                        color: black;
                                        font-weight: 500;
                                        font-size: 14px;
                                        border-bottom: 1px solid #ececec;
                                        padding: 15px 0;
                                        transition: .3s;
                                        &:hover {
                                            color: #ff3a00;
                                        }
                                        &.active {
                                            color: #ff3a00;
                                        }
                                    }
                                }
                                .nav-item:last-child {
                                    .nav-link {
                                        border-bottom: none;
                                    }
                                }
                            }
                        }
                    }
                    .pages_list, .blog_list, .shop_list {
                        flex-direction: column;
                        width: 260px;
                        padding: 0 25px;
                        .nav-item {
                            margin: 0;
                            .nav-link {
                                border-bottom: 1px solid #ececec;
                                font-size: 14px;
                                padding: 15px 0;
                            }
                            &:last-child {
                                .nav-link {
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                    .pages_list, .blog_list {
                        left: 0;
                    }
                    .shop_list {
                        right: 0;
                    }
                    .elements_list {
                        right: 0;
                        .nav-item {
                            &>.nav-link {
                                font-size: 13px;
                            }
                            .navbar-nav {
                                .nav-item {
                                    .nav-link {
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .box-content {
        .row {
            .box1 {
                padding-left: 40px;
                padding-top: 45px;
                &>h1 {
                    font-family: 'Concert One', cursive;
                    font-size: 70px;
                    font-weight: bold;
                    display: flex;
                    flex-direction: column;
                    span {
                        color: #ff3a00;
                        margin-right: 20px;
                        margin-bottom: 20px;
                    }
                }
                #boarding {
                    margin: 30px 0;
                    padding-bottom: 40px;
                    z-index: 0;
                    .carousel-indicators {
                        @extend .carousel-indicators;
                    }
                    .carousel-inner {
                        .carousel-item {
                            .box {
                                display: flex;
                                align-items: center;
                                .icon {
                                    width: 90px;
                                    position: relative;
                                    padding-right: 12px;
                                    margin-right: 20px;
                                    &::after {
                                        position: absolute;
                                        content: '';
                                        width: 2px;
                                        height: 100%;
                                        background: black;
                                        top: 0;
                                        right: 0;
                                    }
                                }
                                .content {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    padding: 10px;
                                    h2 {
                                        font-size: 25px;
                                    }
                                    p {
                                        width: 300px;
                                    }
                                }
                            }
                        }
                    }
                }
                .book {
                    width: 200px;
                    img {
                        width: 100%;
                        transition: .3s;
                    }
                    &:hover {
                        img {
                            transform: rotate(10deg);
                        }
                    }
                }
            }
            .box2 {
                padding-right: 0;
                img {
                    transform: translateY(-80px);
                }
            }
        }
    }
}
section {
    padding: 30px 0;
    .keep-happy {
        padding-bottom: 60px;
        .row {
            .box-img {
                position: relative;
                .food {
                    position: absolute;
                    right: 0;
                    top: 50px;
                }
                .candy {
                    position: absolute;
                    top: 290px;
                    right: 140px;
                }
                .ball {
                    position: absolute;
                    top: 120px;
                    left: 200px;
                }
                .bg {
                    width: 100%;
                }
            }
            .box-content {
                padding: 70px 20px;
                h1 {
                    font-family: 'Concert One', cursive;
                    font-size: 50px;
                    display: flex;
                    flex-direction: column;
                    font-weight: 600;
                    span {
                        color: #ff3a00;
                    }
                }
                p {
                    font-size: 18px;
                    margin: 20px 0;
                    line-height: 2;
                }
                a {
                    width: fit-content;
                    border: 2px solid #ff3a00;
                    font-size: 14px;
                    border-radius: 0 50px 50px;
                    padding: 10px 20px;
                    color: white;
                    background: #ff3a006b;
                    transition: .3s;
                    &:hover {
                        background: #ff3a00;
                    }
                }
            }
        }
    }
    .box-page {
        padding: 50px 0;
        .row {
            .box {
                display: flex;
                justify-content: center;
                .contain {
                    width: 300px;
                    height: 300px;
                    padding: 30px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .polymorph1 {
                        fill: #8FC975;
                        transition: .3s;
                    }
                    .polymorph2 {
                        fill: #FBB745;
                        transition: .3s;
                    }
                    .polymorph3 {
                        fill: #F36B44;
                        transition: .3s;
                    }
                    .img-title {
                        position: absolute;
                        width: 85px;
                        top: 20px;
                        right: 40px;
                        padding: 12px;
                        border-radius: 50%;
                        background: white;
                        box-shadow: 0px 0px 5px 1px #d6d6d6;
                    }
                    .box-link {
                        width: 50%;
                        position: absolute;
                        .title {
                            color: white;
                            font-family: 'Concert One', cursive;
                            font-weight: 600;
                            font-size: 25px;
                            text-align: center;
                            margin: 0;
                        }
                        .nav-link {
                            color: white;
                            transition: .3s;
                            &:hover {
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
    .activity {
        .box1.row {
            padding-left: 30px;
            padding-right: 0;
            .box-content {
                padding-top: 100px;
                h1 {
                    font-family: 'Concert One', cursive;
                    font-weight: 600;
                    font-size: 55px;
                    span {
                        color: #F36B44;
                    }
                }
                >p {
                    margin: 25px 0;
                    font-size: 19px;
                }
                .navbar-nav {
                    flex-direction: row;
                    .nav-item {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 25px;
                        p {
                            margin: 0;
                            width: 45px;
                            margin-right: 5px;
                        }
                        span {
                            font-size: 15px;
                            font-weight: 600;
                        }
                    }
                }
                .box-link {
                    margin: 30px 0;
                    .nav-link {
                        font-size: 14px;
                        border: 2px solid #F36B44;
                        border-radius: 0 50px 50px;
                        margin-right: 20px;
                        padding: 10px 20px;
                        font-weight: 600;
                        transition: .3s;
                        &.view {
                            color: white;
                            background-color: #F36B44;
                            &:hover {
                                background-color: white;
                                color: black;
                            }
                        }
                        &.book {
                            color: black;
                            &:hover {
                                color: white;
                                background-color: #F36B44;
                            }
                        }
                    }
                }
            }
            .box-img {
                padding-right: 0;
            }
        }
        .box2.row {
            margin-top: 50px;
            .box-content {
                margin-bottom: 30px;
                .box {
                    padding: 40px;
                    background: #f3f3f3;
                    border-radius: 30px;
                    .icon {
                        margin: 0;
                        width: 65px;
                        padding-bottom: 50px;
                    }
                    h1 {
                        font-family: 'Concert One', cursive;
                        font-weight: 600;
                        font-size: 25px;
                        margin-bottom: 25px;
                    }
                    .nav-link {
                        padding: 0;
                        margin-top: 50px;
                        font-size: 14px;
                        font-weight: 600;
                        color: #F36B44;
                        transition: .3s;
                        &:hover {
                            color: black;
                        }
                    }
                }
            }
        }
    }
    .something {
        padding-top: 70px;
        .box-img {
            position: relative;
            padding-left: 0;
            p {
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        .box-content {
            #something {
                padding: 60px 20px;
                .carousel-indicators {
                    margin-left: 20px;
                    @extend .carousel-indicators;
                }
                .carousel-inner {
                    .carousel-item {
                        font-family: 'Concert One', cursive;
                        .icon {
                            font-size: 60px;
                            color: #F36B44;
                        }
                        .content {
                            font-size: 24px;
                            font-weight: 700;
                        }
                        .author {
                            color: #F36B44;
                            font-weight: 600;
                            margin: 25px 0 10px 0;
                        }
                        span {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
    .sale {
        padding-top: 150px;
        padding-bottom: 100px;
        .row {
            padding: 0 30px;
        }
        &__content {
            padding: 70px 20px 50px 0;
            .title {
                font-size: 1.1rem;
                font-weight: 500;
                color: #F36B44;
            }
            h1 {
                font-family: 'Concert One', cursive;
                font-weight: bold;
                font-size: 48px;
            }

            .content {
                font-size: 17px;
                margin: 40px 0;
            }
            >a {
                width: fit-content;
                border: 2px solid #ff3a00;
                font-size: 14px;
                border-radius: 0 50px 50px;
                padding: 10px 20px;
                color: white;
                background: #ff3a006b;
                text-decoration: none;
                transition: .3s;
                &:hover {
                    background: #ff3a00;
                }
            }
        }
        &__price {
            padding: 0;
            position: relative;
            &-box {
                padding: 40px;
                background-color: #F2F2F4;
                border-radius: 30px;
                .title {
                    color: #F36B44;
                    margin-bottom: 10px;
                    font-weight: 500;
                    font-size: 15px;
                }
                &>h1 {
                    font-weight: bold;
                    font-family: 'Concert One', cursive;
                    font-size: 2.5rem;
                }
                .svg {
                    width: 80px;
                    margin: 30px 0;
                }
                .navbar-nav {
                    .nav-item {
                        display: flex;
                        align-items: center;
                        margin-bottom: 15px;
                        p {
                            margin: 0;
                        }
                        span {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            margin-left: auto;
                            &::before {
                                content: '';
                                position: absolute;
                                width: 13px;
                                height: 2px;
                                background-color: #4daf01;
                                transform: rotate(-45deg);
                            }
                            &::after {
                                content: '';
                                position: absolute;
                                width: 6px;
                                height: 2px;
                                background-color: #4daf01;
                                transform: rotate(45deg) translate(-2px, 6px);
                            }
                        }
                    }
                }
                .price {
                    display: flex;
                    font-family: 'Concert One', cursive;
                    span {
                        font-size: 20px;
                    }
                    p {
                        margin: 0;
                        font-size: 45px;
                    }
                }
                &.-day_1 {
                    .navbar-nav {
                        .nav-item:last-child {
                            span {
                                &::before {
                                    width: 14px;
                                    height: 2px;
                                    background-color: black;
                                }
                                &::after {
                                    width: 14px;
                                    height: 2px;
                                    background-color: black;
                                    transform: rotate(45deg);
                                }
                            }
                        }
                    }
                }
                &.-day_2 {
                    background-image: url('./img/price_list_background.jpg');
                    color: white;
                    position: absolute;
                    width: 110%;
                    height: 109%;
                    transform: translate(-4%, -4%);
                    z-index: 1;
                    background-size: cover;
                    padding-top: 62px;
                    .title {
                        color: white;
                    }
                    .navbar-nav {
                        .nav-item {
                            span {
                                &::before {
                                    background-color: white;
                                }
                                &::after {
                                    background-color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .time {
        &__content {
            padding-left: 35px;
            padding-top: 70px;
            h1 {
                font-family: 'Concert One', cursive;
                font-weight: 600;
                font-size: 55px;
                margin-bottom: 70px;
                span {
                    color: #F36B44;
                }
            }
            .list-time {
                .nav-item {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 20px;
                    .icon {
                        width: 100px;
                    }
                    &__content {
                        padding: 5px 0 0 15px;
                        .title {
                            color: #F36B44;
                            font-weight: 500;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            .contact {
                width: 235px;
            }
        }
    }
}
footer {
    &.container-fluid {
        padding: 50px 30px;
        .logo {
            p {
                width: 200px;
            }
            .navbar-nav {
                .nav-item {
                    margin: 0 5px;
                    .nav-link {
                        color: #ed6436 ;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        border: 1px solid #ed6436 ;
                        text-align: center;
                        font-size: 14px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        transition: .3s;
                        &::before {
                            position: absolute;
                            content: '';
                            width: 0;
                            height: 0;
                            background: #ed6436 ;
                            border-radius: 50%;
                            z-index: -1;
                            transition: .3s;
                        }
                        &:hover {
                            color: white;
                            &::before {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
        .about, .links, .newsletter {
            .title {
                font-family: 'Concert One', cursive;
                color: #ed6436;
                font-weight: 500;
                font-size: 24px;
                margin-bottom: 5px;
            }
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: #444444;
                        font-size: 13px;
                        font-weight: 500;
                        span {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
        .newsletter {
            #email {
                border-radius: 20px;
                width: 100%;
                border: 1px solid #e0e0e0;
                outline: none;
                transition: .3s;
                position: relative;
                padding: 5px 10px;
                margin-top: 10px;
                &:focus {
                    border: 1px solid #ed6436;
                }
            }
            .btn {
                width: 100%;
                color: white;
                background: #ed6436;
                border-radius: 20px 0 20px 20px;
                font-size: 14px;
                margin-top: 15px;
            }
        }
    }
}