@media (max-width: 991px) {
    body {
        transition: .3s;
        &.active {
            transform: translateX(250px);
            overflow: hidden;
        }
    }
    header {
        background-position: top;
        .navbar {
            padding: 0 40px;
            height: 50px;
            width: 100%;
            background: white;
            box-shadow: 2px 2px 3px 0px #ececec;
            .box-menu {
                display: block;
            }
            .navbar-brand {
                height: 100%;
                display: flex;
                align-items: center;
                width: 125px;
            }
            .navbar-collapse {
                display: flex;
                top: 0;
                right: 100%;
                position: absolute;
                background: white;
                width: 300px;
                height: 100vh;
                transition: .3s;
                box-shadow: 1px 0px 6px 1px #e9e9e9;
                overflow: auto;
                &>.navbar-nav {
                    width: 100%;
                    margin-top: 0;
                    margin-bottom: auto;
                    &>.nav-item {
                        flex-direction: column;
                        margin: 0;
                        .navbar-toggler {
                            position: absolute;
                            right: 25px;
                            top: 10px;
                            padding: 15px;
                            outline: none;
                            transition: .3s;
                            span {
                                position: relative;
                                display: flex;
                                &::after {
                                    position: absolute;
                                    content: '';
                                    width: 6px;
                                    height: 1px;
                                    background: black;
                                    transform: rotate(-45deg);
                                }
                                &::before {
                                    position: absolute;
                                    content: '';
                                    width: 6px;
                                    height: 1px;
                                    background: black;
                                    transform: rotate(45deg) translate(-2px, 2px);
                                }
                            }
                            &.active {
                                transform: rotate(180deg);
                            }
                        }
                        .nav-link {
                            &::after {
                                content: none;
                            }
                        }
                        &:nth-child(6) {
                            &::after {
                                width: 55%;
                            }
                        }
                        .menu_list {
                            opacity: 1;
                            pointer-events: all;
                        }
                        &>.navbar-nav {
                            width: 100%;
                            position: relative;
                            .nav-item {
                                margin: 0;
                                position: relative;
                                .nav-link {
                                    display: flex;
                                    justify-content: center;
                                    border: none;
                                }
                                .navbar-nav {
                                    .nav-item {
                                        .nav-link {
                                            display: flex;
                                            border-bottom: none !important;
                                            justify-content: center;
                                            font-weight: lighter;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .box-content {
            .row {
                .box1 {
                    &>h1 {
                        font-size: 3em;
                        flex-direction: row;
                    }
                    #boarding {
                        .carousel-inner {
                            .carousel-item {
                                .box {
                                    .content {
                                        h2 {
                                            font-size: 1.2em;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .box2 {
                    padding-top: 110px;
                }
            }
        }
    }
    section {
        .keep-happy {
            .row {
               .box-content {
                    h1 {
                        font-size: 3em;
                        flex-direction: row;
                        span {
                            margin-left: 15px;
                        }
                    }
                } 
            }
        }
        .box-page {
            padding-top: 0;
            overflow: hidden;
        }
        .activity {
            .box1.row {
                .box-content {
                    h1 {
                        font-size: 3em;
                    }
                }
            }
        }
        .something  {
            .box-content {
                #something {
                    .carousel-inner {
                        .carousel-item {
                            .content {
                                font-size: 1.2em;
                            }
                        }
                    }
                }
            }
        }
        .sale {
            &__price {
                margin-bottom: 50px;
            }
        }
        .time {
            &__content {
                h1 {
                    font-size: 3em;
                }
                .list-time {
                    .nav-item {
                        justify-content: flex-start;
                        .icon {
                            width: 60px;
                        }
                        &__content {
                            .content {
                                font-size: 0.9em;
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        &.container-fluid {
            .logo, .about, .link, .newsletter {
                margin-bottom: 30px;
            }
        }
    }
}